
.poster{
    background-color: rgb(230, 230, 230);
    float: left;
    position: relative;
    width: 350px;
    padding-bottom: 30px;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    margin: 35px;
    height: 570px;
    

}

.image{
    width: 300px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

